@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
h1{color:rgb(169, 221, 157)}


body{
  background-color:rgb(38, 86, 134); */
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.message{color:rgb(194, 236, 184) ;
font-family:"Raleway", sans-serif; 
font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-size: large;
}

.layout{
  width: 70%;
  margin:0 auto;
 
}
input {
  background-color:rgb(56, 58, 160);
  color: white;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.quiz {
  background-color: rgb(56, 58, 160);
  color:white;
  border: 2px solid #04AA6D; 
  padding: 12px 28px;
}

img {
  width: 100%;
}
